html{
	height: 100%;
}
body {
  background: url('http://i.imgur.com/cHT9q5c.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  height: 100%;
  margin: 0 auto;
  font-size: medium;

}

a {
	color: white;
}


.navbar-default {
	background-color: black;
	border-color: black;
	border-radius: 40px;
	/*left: 20%;*/
	/*right: 100%;*/
	opacity: 0.8;

}
.navbar-default .navbar-nav>li>a{
	color: #C5C1C1;
}
.navbar-default .navbar-brand{
	color: #C5C1C1;
}

.container {
	background-color: black;
	opacity: 0.80;
	border-radius: 20px;
	height: 100%;
}

.infoEl  h2 {
	text-align: center;
}


footer {
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
}

.cont{
	width: 100%;
	background-color: black;
	opacity: 0.85;
	text-align: center;
	border-radius: 10px;
	padding: 20px;

}

.ourImage{
	background: url("http://i.imgur.com/rnk4WT8.jpg") no-repeat;
	height: 400px; 
	margin: auto;
	background-size:100% auto;
	border-radius: 20px;

}
.ourImage:hover{
	background: url("http://i.imgur.com/T3fA6uB.jpg") no-repeat;
	height: 400px; 
	margin: auto;
	background-size:100% auto;
	border-radius: 20px;
}


.googleForms{
	text-align: center;
}

iframe {
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
}

.information{
	margin-bottom: 20px;
}

.intro-section{
	padding-top: 100px; 	
}

.esme-section{
	padding-top: 140px; 	
}
.esme-section img{
	width: auto;
	height: auto;
	max-height: 400px;
}

.col-sm-5 p{
	/*padding-left: 150px;*/
	text-align: center;	
}
.esmiuEsme-section{
	padding-top: 140px;
}
.esmiuEsme-section p{
	text-indent: 40px;
	text-align: justify;
}
.esmiuEsme-section img{
	padding-bottom: 20px;
}
.apranga-section p{
	text-indent: 40px;
	text-align: justify;
}

.apranga-section{
	padding-top: 140px;
}

.dovanos-section{
	padding-top: 140px;
}

.dovanos-section p{
	text-indent: 40px;
	text-align: justify;
}
.dovanos-section img{
	height: auto;
	width: auto;
	max-height: 200px;
}
.col-sm-8 blockquote{
	text-align: center;
}
.anketa-section{
	padding-top: 100px; 	
}

.contacts {
	margin:0 auto;
	position: absolute;
    top: 200%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
	margin-left: 10%;
	margin-right: 10%;
}

.contText{
	text-align: left;
}


h3{
	text-align: center;
}

img{
	margin: 0 auto;
	
}

.col-xs-3 img{
	padding-bottom: 20px;
}

.vejuje{
	padding-top: 20px;
}

.alert{
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
	border: 2px solid #5cb85c;
	opacity: 0.8;
	background-color: white;
}
#plaukai{
	text-align: center;
}

blockquote{
	text-align: justify;
}

.col-sm-4 ul{
	list-style-type: none;
}