
body {
  background: url('http://i.imgur.com/cHT9q5c.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

a {
	color: white;
}


.navbar-default {
	background-color: black;
	border-color: black;
	border-radius: 40px;
	left: 20%;
	right: 20%;


}
.navbar-default .navbar-nav>li>a{
	color: #C5C1C1;
}
.navbar-default .navbar-brand{
	color: #C5C1C1;
}
.container {
	background-color: black;
	opacity: 0.80;
	border-radius: 20px;
}

.kada  h2 {
	text-align: center;
}
.kur h2 {
	text-align: center;
}

h4>a {
	text-decoration: underline;
	text-align: center;
	padding-left: 150px;
}

footer {
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
}

.cont{
	width: 90%;
	background-color: black;
	opacity: 0.85;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	/*margin-top: 20px; */
}

.ourImage{
	background: url("http://i.imgur.com/rnk4WT8.jpg") no-repeat;
	/*width: 750px;*/
	height: 400px; 
	margin: auto;
	background-size:100% auto;
	border-radius: 20px;

}
.ourImage:hover{
	background: url("http://i.imgur.com/T3fA6uB.jpg") no-repeat;
}


.googleForms{
	text-align: center;
}

iframe {
	margin: auto;
	padding-bottom: 20px;
}

.information{
	margin-bottom: 20px;
}

.intro-section{
	height: 100%;
	padding-top: 100px; 	
}

.about-section{
	height: 100%;
	padding-top: 100px; 	
}

.services-section{
	height: 100%;
	padding-top: 100px; 	
}