
body {
  background: url('img/fonas.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  opacity: 0.65;
  font-family: helvetica, sans-serif;
}

a {
	color: white;
}

.container {
	width: 100%;
}
.navbar {
	width: 75%;
	margin: 0 auto;
	text-align: left;
	font-family: helvetica, sans-serif;
/*	padding: 0 60px 0 60px;*/
}
.row {
	width: 90%;
	margin: 0 auto;
}

.jumbotron {
	margin: 0 auto;
	padding-bottom: 100px;
}
.jumbotron h1 {
	text-align: right;
	padding-bottom: 20px;
}
.jumbotron p {
	text-align: justify;
}


.row {
	background-color: black;
	font-family: helvetica, sans-serif;
}
.col-md-4 h2 {
	text-align: center;
}
.col-md-3 h2 {
	text-align: center;
}
.col-md-3 p {
	text-align: justify;
}
.col-md-4 p {
	text-align: justify;
	padding-bottom: 20px;
}

h4>a {
	text-decoration:underline;
	text-align: center;
	margin: 0 auto;
}
#carousel-example-generic {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;

}

.carousel-caption {
	color: black;
}

footer {
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	width: 85%;
}