.navbar{
	margin: 0 auto;
	text-align: right;
}

.button {
	margin: 0 auto;
}

.jumbotron h1 {
	text-align: right;
	padding-bottom: 20px;
}

.jumbotron p {
	text-align: justify;
}

.col-md-4 p {
	text-align: justify;
	padding-bottom: 20px;
}

footer {
	margin: 0 auto;
	padding-top: 60px;
	width: 85%;
}