body {
	background-color: #E7D1D1;
	color:	#4B2727;;
}

a {
	color:	#4B2727;
}
.container {
	width: 100%;
	background-color: #C3B7B7;	
}
.navbar{
	margin: 0 auto;
	text-align: right;
}

.jumbotron {
	
	margin: 0 auto;
	background-color: #783535;
	padding-bottom: 100px;
}

.jumbotron h1 {
	text-align: right;
	padding-bottom: 20px;

}

.jumbotron p {
	text-align: justify;
}

.col-md-4 h2 {
	text-align: center;
}
.col-md-3 h2 {
	text-align: center;
}
.col-md-3 p {
	text-align: justify;
}


.col-md-4 p {
	text-align: justify;
	padding-bottom: 20px;
}
footer {
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	width: 85%;
}

#carousel-example-generic {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;

}

.carousel-caption {
	color: black;
}
